@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=============== SCROLLBAR CUSTOM ===============*/

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #020b13;
}

::-webkit-scrollbar-thumb {
  background-color: #c62726;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fd110f;
}
